.row
  .col-md-4.col-sm-6
    = render "settings", user: @user
    
  .col-md-6
    #render-posts
      = render @posts

  .col-md-2
    .panel-container
      #profile-status
        = render "status", user: @user

