.row
  .col-md-4.col-sm-6
    = render "profiles/settings", user: @user
    
  .col-md-6
    .panel-container
      %h2 Edit #{resource_name.to_s.humanize}
      #edit-account
        = render "form"

  .col-md-2
    .panel-container
      #profile-status
        = render "profiles/status", user: @user