.card
  .card-heading
  .avatar.img-thumbnail
    %img.img-responsive{alt: "", src: "/assets/no-user.png"}
  .info
    %h3
      = link_to user, [current_user, current_user.profile]
    .desc
      = user.email
  #user-status
    = render "status", user: user