.card
  .card-heading
  .avatar.img-thumbnail
    = image_tag(user_avatar(current_user), class: "img-responsive")
  .info
    %h3
      = link_to user, [current_user, :profile]
    .desc
      = user.email
  #user-status
    = render "users/status", user: user