= simple_form_for(post, data: { behavior: "new-post" }) do |f|  
  = f.input :body, label: false, placeholder: "What are you thinking?", input_html: {rows: 3}
  .pull-left
    = render partial: "attachments/form", locals: { f: f }
  .pull-right
    = f.button :submit, "Publish", class: "btn btn-sm"