.panel-container
  = div_for(post, class: "post-content") do
    = post.body

    - if post.attachments.any?
      .attachments
        - post.attachments.each do |attachment|
          = image_tag(attachment.file.url, size: "200x100")