.row
  .col-md-4.col-sm-6
    = render "devise/shared/side_profile", user: current_user
  .col-md-6
    .panel-container
      .media
        .media-left
          = link_to image_tag("/assets/no-user.png", 
            class: "media-object img-thumbnail", width: "50"), root_path
        .media-body
          .media-heading
            .clearfix
              #form-posts
                = render "form", post: @post