.row
  .col-md-4.col-sm-6
    = render "users/side_profile", user: current_user
  .col-md-6
    .panel-container
      .media
        .media-left
          = link_to image_tag(user_avatar(current_user),
            class: "media-object img-thumbnail", width: "50"), [current_user, :profile]
        .media-body
          .media-heading
            .clearfix
              #form-posts
                = render "form", post: @post
            #img-holder
    #render-posts
      = render @posts