/*
*= require fancybox
*/

@import "_variables";
@import "_mixins";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "users";
@import "profiles";
@import "posts";
@import "attachments";
@import "likes";

body {
  padding-top: 60px;
  background: #F4F4F6;
}

h1, h2, h3, h4, h5 {
  font-weight: 900;
}

.navbar-form {
  padding-top: 2px;
  .form-control {
    height: 30px;
  }
}

.navbar-brand {
  font-family: "Shadows Into Light", cursive;
  font-size: 20px;
  color: #b84d45;
}

form {
  label {
    font-weight: 600;
  }
}

.form-buttons {
  margin-bottom: 10px;
}

header {
  @extend .page-header;
  position: relative;
  padding-bottom: 0px;
  margin-top: 0;
  h1 {
    margin-top: 10px;
  }
}

.auth-links {
  @extend .list-unstyled;
  margin-top: 10px;
}

.panel-container {
  border: 1px solid #e1e8ed;
  margin-bottom: 5px;
  background: #fff;
  padding: 20px;
  h2 {
    margin-top: 0px;
  }
}

.btn-file {
  @extend .btn;
  @extend .btn-default;
  @extend .btn-sm;
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

.media-heading {
  margin-bottom: 0px;
}