@import "_variables";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "users";

body {
  padding-top: 60px;
  background: #F4F4F6;
}

h1, h2, h3, h4, h5 {
  font-weight: 900;
}

.navbar-form {
  padding-top: 2px;
  .form-control {
    height: 30px;
  }
}

.navbar-brand {
  font-family: "Shadows Into Light", cursive;
  font-size: 20px;
  color: #b84d45;
}

form {
  label {
    font-weight: 600;
  }
}

header {
  @extend .page-header;
  position: relative;
  padding-bottom: 0px;
  margin-top: 0;
  h1 {
    margin-top: 10px;
  }
}

.auth-links {
  @extend .list-unstyled;
  margin-top: 10px;
}

.panel-container {
  margin-bottom: 5px;
  background: #fff;
  padding: 20px;
  h2 {
    margin-top: 10px;
  }
}