// Place all the styles related to the attachments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-attachments {
  border-bottom: 1px #e1e8ed solid;
}

#user-attachments {
  margin-top: 20px;
}

.attachment-actions {
  margin-top: 10px;
}
