.card {
  background: #FFF;
  margin-bottom: 20px;
}

.card .avatar {
  height: 95px;
  background: #66afe9;
  padding: 20px;
  img {
    margin-top: 10px;
    border: none;
  }
}

.card .info {
  padding: 20px;
}