.card {
  background: #FFF;
  margin-bottom: 20px;
}

.card .avatar {
  height: 95px;
  background: #66afe9;
  padding: 20px;
  img {
    margin-top: 10px;
    border: none;
  }
}

.card .info {
  padding: 15px;
  .title a {
    color: #333333;
    text-decoration: none;
  }
  #user-status a {
    color: #66757f;
    text-decoration: none;
  }
}